{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.username }}</h1>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
            <p>
                This is a simple web application that allows users to create, edit, and delete their own posts.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    .bg-image{
        background-image: url("{{ url_for('static', filename='images/bg_home.jpg') }}");
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        height: 100vh;
    }
{% endblock %}
