{% extends 'base.html' %}
<!-- This page adds biometric face authorization after registration. -->
{% block content %}
    <form method="POST" enctype="multipart/form-data" id="myForm">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Camera</th>
                    <th>Snap</th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                <tr class="text-center">
                    <td>
                        <div id="my_camera"></div>
                    </td>
                    <td>
                        <div id="results"></div>
                    </td>
                </tr>
                <tr class="text-center">
                    <td>
                        <input type="button" onclick="snap()" value="Snap">
                    </td>
                    <td>
                        <input type="button" onclick="upload()" value="Upload">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/webcam.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/record_auth.js') }}"></script>
{% endblock %}

{% block styles %}
    <style type="text/css">
        #my_camera {
            width: 320px;
            height: 240px;
        }
    </style>
{% endblock %}
