{% extends 'base.html' %}

{% block content %}
    <div class="text-center text-dark">
        <h1>
            Please create an account.
        </h1>
        <h2>
            Note - After you enter the account details, a camera window will open so that you can take a picture of your face (Press Q to take a picture).
            The image should have a singular, clear face.
        </h2>
        <p>
            New to the site? <a href="{{ url_for('register') }}">Register</a>
        </p>
        <div class="container">
            {% from "_form-helpers.html" import render_field %}
            <form method="POST" class = "form-register">
                {{ form.hidden_tag() }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                <p>{{ form.remember() }} {{ form.remember.label }}</p>
                {{ form.submit( class = "btn btn-primary" ) }}
            </form>
        </div>
    </div>
{% endblock %}
