{% extends 'layouts/base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block app_content %}
<h1>
    Admin Home
</h1>
<p>
    Welcome to the admin panel.
    Click <a href="{{ url_for('all_logs') }}">here </a> to get a list of all activity.
    A list of all users:
</p>
<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>Username</th>
            <th>Email</th>
            <th>Created</th>
            <th>Last Updated</th>
            <th>Verified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="text-center">
        {% for user in users %}
        <tr class="text-center">
            <td>
                <a href="{{ url_for('user', username=user.username) }}" class="text-dark">
                    {{ user.username }}
                </a>
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td>{{ user.last_updated }}</td>
            <td>
                {% if user.verified %}
                <span class="text-success">
                    Yes
                </span>
                {% else %}
                <span class="text-danger">
                    No
                </span>
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('user', username = user.username) }}">
                    <img src="{{ url_for('static', filename='images/eye-icon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                </a>
                <a href="{{ url_for('edit_user', username = user.username) }}">
                    <img src="{{ url_for('static', filename='images/pencil-icon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                </a>
                <a href="{{ url_for('delete_user', username = user.username) }}">
                    <img src="{{ url_for('static', filename='images/delete.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
