{% extends 'layouts/base.html' %}

{% block app_content %}
<div class="container text-center text-info content">
    <br>
    <br>
    {% if current_user.is_authenticated %}
        <h1> Hi, {{ current_user.username }} </h1>
    {% else %}
        <h1>
            <a class="text-danger" href="{{ url_for('auth.login') }}">Sign in</a>
        </h1>
        <h1>
            <a href="{{ url_for('auth.register') }}">Register</a>
        </h1>
    {% endif %}
</div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>

        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
        .container-body{
            background-image: url("{{ url_for('static', filename='images/bg-home.jpeg') }}");
            background-size: 100% auto;
            background-repeat: repeat-y;
        }
        h3{
            font-color: black;
        }
    </style>

{% endblock %}
